.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	li {
		color: $color__text-main;
		position: relative;
		margin-bottom: .5rem;

		i {
			position: absolute;
			left: -2rem;
			top: 3px;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
