.overlay-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	visibility: hidden;
	z-index: 10;
	opacity: 0;
	@include transition;

	body.overlay-visible & {
		background: rgba(0, 0, 0, 0.5);
		visibility: visible;
		opacity: 1;
	}
}