$gray-main: #b8b8b8;
$gray-light: #f5f5f5;
$gray-dark: #2a2f35;
$dark: #1C2126;

$yellow: #fbcd2c;

$color__interactive: $yellow;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-interactive: $gray-dark;
$color__background-main: $gray-light;
$color__background-dark: $dark;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: $gray-main;
$color__text-heading: $gray-dark;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $color__text-heading;
$color__link-visited: $color__link;
$color__link-hover: $color__interactive;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
