$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__max-width: 1200px;

$section__padding-100: 100px;
$section__padding-80: 80px;
$section__padding-60: 60px;
$section__padding-25: 25px;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;